@import "form.scss";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: whitesmoke;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//  =========================
// 	form
// 	=========================
.todo_form {
	width:50%;
	margin: 50px auto;
	background:#FF6666;
	padding: 30px;
	box-shadow: 2px 1px 3px 1px #FF6666;
	h1{
		color: white;
		font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center margin 10px 0;
    text-align: center;
    margin: 20px 0;
	}
	h2 {
		text-align: right;
		font-size: 1.2rem;
		text-transform: capitalize;
		color: white;
		&:hover {
			color: rgb(207, 200, 200);
			padding: 0 .5px;
		}
	}
	a {
		text-decoration: none;
	}
	.main-form{
		margin:0 auto;
	}
	.input-title {
		padding: 9px 14px;
    display: block;
		width: 62%;
		margin: 0 auto;
		font-size: 1rem;
		margin-bottom: 25px;
		outline: none;
		text-transform:capitalize;
	}
	.input-description {
		margin: 0 auto;
		padding:  15px 14px;
    display: block;
		width: 62%;
		font-size: 1rem;
		text-transform:capitalize;
		outline: none;
	}
	.submit-btn {
		padding :8px 25px;
		position: relative;
		left: 66%;
		margin-top: 26px;
		border:none;
		background:#FF6666;
		color:white;
		text-transform:uppercase;
		font-weight:bold;
		border:1px solid rgba(255,255,255,.3);
	&:hover { 
		
		background:rgb(253, 88, 88);	
		cursor:pointer;
		transition:background .2s ease-out;
	}
	}
}

//  =========================
// 	todo list
// 	=========================
.main-hero {
	background: whitesmoke;
	height:100vh;
}
.fa-home{
	font-size: 2rem;
	color: rgb(219, 80, 80);
	padding: 20px;
	&:hover{
		color: #FF6666;
	}
}
.todo_list{
	width:50%;
	margin: 5px auto;
	background:#FF6666;
	padding: 30px;
	box-shadow: 2px 1px 3px 1px #FF6666;

	.display-todo-list {
		display: flex;
    justify-content: space-between;
    padding: 14px 11px;
    text-transform: capitalize;
    color: #FFF;
    box-shadow: 1px 1px 0px 2px rgba(97, 100, 100, 0.1);
	}
	a {
		text-decoration: none;	
	}
	h4{
		text-decoration: none;
		font-size: 1.2rem;
		color: white;
		font-family: 'Quicksand', sans-serif;
		&:hover {
			color:wheat;
		}
	}
}

//  =========================
// 	detail section
// 	=========================
.description-section {
	background: rgb(51, 107, 158);
	height: 100vh;
}
.detail-section{
	// width:50%;
	margin:0 auto;
	padding: 30px;
	// box-shadow: 2px 1px 3px 1px #FF6666;
	h1 {
		font-size: 1.2rem;
		text-transform: capitalize;
		margin-bottom: 20px;
		font-family: 'Quicksand', sans-serif;
		font-weight: 600;
		color:white;
	}
	p {
		font-size: 1.1rem;
		font-family:sans-serif;
		color: white;
	}
	.fa-arrow-circle-left {
		font-size: 25px;
		color: #FF6666;
	}
	.detail-page{
		margin: 0 auto;
		width: 100%;
		padding: 25PX 0 ;
	}
}